---
layout: base
---

%h1.title Polyamour Montréal
%section.mission
  :markdown
    **Polyamour Montréal** regroupe les personnes polyamoureuses de la région de Montréal, ainsi que les personnes en questionnement et leurs allié·e·s.

    L'organisme à but non lucratif a pour mission d'informer la population
    à propos des relations polyamoureuses et non-monogames éthiques,
    et de favoriser la reconnaissance sociale et juridique des
    personnes vivant dans ces relations ou s'identifiant comme tel.

    [Lire notre mission →](/mission)

  %h2 Officières/ers
  .officieres
    .officiere
      %span.name Éloise Lapointe Leblanc
      %span.position Présidente
    .officiere
      %span.name Isabelle Guillemenot
      %span.position Vice-présidente
    .officiere
      %span.name Jonathan Allard
      %span.position Trésorier
    .officiere
      %span.name.vacant (vacant)
      %span.position Secrétaire
    .officiere
      %span.name.vacant (vacant)
      %span.position Responsable des événements

  %h2 Pour nous contacter
  %p
    %i.far.fa-envelope>
    &emsp;
    info@polyamourmontreal.org
